@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
header {
	height: 350px;
	background-image: url('../images/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
}

#main .price{
	font-family: 'Anton', sans-serif;
	position: absolute;
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	right: 20px;
	top: -60px;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.card{
	cursor: pointer;
}

.card:hover{
	border-color: orange;
}

/* .card img{
	height: 200px;
	width: auto;
} */

footer {
	min-height: 400px;
	bottom: 0; 
}

footer .bottom{
	background: #212529; 
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer .footer-icon{
	font-size: 25px;
	padding: 5px;
	background: #212529;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: inline-block;
}

footer .socials{
	display: inline-block;
	padding: 10px;
	background: #212529;
	border-radius: 5px;
	width: 43.33px;
	text-align: center;
}

.toast {
	position: fixed;
	top: 5px;
	right: 5px;
}

@media screen and (max-width: 992px) {
	.sm-center{
		text-align: center!important;
	}
}